{% from "_includes/forms" import text -%}
{% extends "_layouts/cp" %}
{% set title = "Eurotax" %}

{% block actionButton %}
    <div class="buttons right">
        <span class="btn submit add icon">Ausgewählte Importieren</span>
    </div>
{% endblock %}



{% block content %}

    <div class="main">
        <div class="toolbar">
            <div class="flex">
                <div class="flex-grow texticon search icon clearable">
                    {{ text({
                        placeholder: "Search"|t('app'),
                        id: 'search'
                    }) }}
                    <div class="clear hidden" title="{{ 'Clear'|t('app') }}"></div>
                </div>
            </div>
        </div>

        <div class="elements" style="position:relative;">
            <div class="tableview">
                <table class="data fullwidth" id="cars">
                    <thead>
                    <tr>
                        <td class="checkbox-cell"></td>
                        <th scope="col" data-attribute="Marke">Marke</th>
                        <th scope="col" data-attribute="Model">Bezeichnung</th>
                        <th scope="col" data-attribute="Farbe">Farbe</th>
                        <th scope="col" data-attribute="Erstzulassung">Erstzulassung</th>
                        <th scope="col" data-attribute="Km-Stand">Km-Stand</th>
                        <th scope="col" data-attribute="Chassisnummer">Chassisnummer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in craft.eurotaxCars.getCars() %}
                        <tr data-id="{{ car['carEurotaxId'] }}">
                            <td class="checkbox-cell">
                                <div class="checkbox" title="Auswählen"></div>
                            </td>
                            <td data-title="Marke">
                                <div class="element small hasstatus">
                                    <span class="status  {% if car['alreadyImported'] %}live{% endif %}"></span>
                                    {{ car['carBrand'] }}
                                </div>
                            </td>
                            <td data-title="Modell">{{ car['carModel'] }}</td>
                            <td data-title="Farbe">{{ car['carColor'] }}</td>
                            <td data-title="Erstzulassung">{{ car['carFirstRegistration'] }}</td>
                            <td data-title="Km-Stand">{{ car['carMileage'] }}</td>
                            <td data-title="Chassisnummer">{{ car['carChassisNumber'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="spinner-bg" style="display:none;position:absolute;top:-24px;right:-24px;bottom:-48px;left:-24px; background:rgba(0,0,0,.8)">
                <div class="spinner big" style="position:absolute;top:30vh;left:50%;margin:0 auto;transform:translateX(-50%)"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% includejs %}
   var rows = document.querySelectorAll('#cars tbody tr');
    [].forEach.call(rows, function(row) {
        row.addEventListener('click', function(e){
            if(row.classList.contains('sel')){
                row.classList.remove('sel');
            }else{
                row.classList.add('sel');
            }
        }, false);
    });

    document.querySelector('.buttons.right .submit.add').addEventListener('click', function(e){
        var spinnerBgNode = document.querySelector('.spinner-bg');
        spinnerBgNode.style['display'] = 'block';

        var fd = new FormData();
        fd.append('{{ craft.app.config.general.csrfTokenName }}', '{{ craft.app.request.csrfToken }}');
        var selectedRows = document.querySelectorAll('#cars tbody tr.sel');
        var idsOfSelectedEntries = [].forEach.call(selectedRows, function(row){
            fd.append('ids[]', row.getAttribute('data-id'));
        });

        $.ajax({
            type: "POST",
            url: "/admin/eurotax/import",
            data: fd,
            processData: false,
            contentType: false,
            success: function(data){
                location.reload();
            },
            error: function(errMsg) {
                Craft.cp.displayError('Es ist ein Fehler aufgetreten. Versuche es nochmals.');
                spinnerBgNode.style['display'] = 'none';
            }
        });
    }, false);

    document.querySelector('#search').addEventListener('input', function(e){
        var value = e.target.value.toLowerCase();
        [].forEach.call(rows, function(row) {
            var inner = (row.textContent || row.innerText).toLowerCase();

            if(inner.indexOf(value) !== -1){
                row.style['display'] = 'table-row'
            }else{
                row.style['display'] = 'none'
            }
        });
    });

{% endincludejs %}