{% import "_includes/forms" as forms %}

{{ forms.textField({
    first: true,
    label: "Absoluter Pfad zum Export.xml",
    name: 'pathToExport',
    value: settings.pathToExport
}) }}

{{ forms.textField({
    label: "Absoluter Pfad zum PICTURES-Ordner",
    name: 'pathToPictures',
    value: settings.pathToPictures
}) }}

{{ forms.textField({
    label: "Handle der Section, in welche die Fahrzeuge gespeichert werden",
    name: 'sectionHandle',
    value: settings.sectionHandle
}) }}

{{ forms.textField({
    label: "Name des Folders/Volumen, in welche die Fahrzeugebilder gespeichert werden",
    name: 'folderName',
    value: settings.folderName
}) }}